@model SPA.Web.Models.Pages.StartPage

<div class="App" ng-app="newsfeed" ng-controller="NewsFeedController">
    <div class="List" data-ui="list">
        <ul>
            <li data-article="0" data-status="on" >
                <div class="image"><img data-ui="image" data-src="https://unsplash.it/50/50/?image=500" alt=""></div>
                <div class="teaser">
                    <h3>America’s Immigration Policy Needs Less Emotion and More Reason</h3>
                    <p class="datetime">11:26 AM ET</p>
                </div>
                <div class="progress"><span class="bar"></span></div>
        </ul>
    </div>
    <div class="Reader" data-ui="reader">

        <div class="Articles">
            <article id="0" class="Article">
                <h1>America’s Immigration Policy Needs Less Emotion and More Reason</h1>
                <p class="author">Douglas S. Massey / Zocalo Public Square</p>
                <p class="datetime">9:30 AM ET</p>
                <div class="image"><img src="https://unsplash.it/960/540/?image=500" alt=""></div>
                <p><strong>U.S. policymaking should be rooted in geographic, demographic and economic considerations, not in our hopes and fears</strong></p>
                <p>It’s hard not to shake your head at one distinctively American aspect of immigration policymaking—how it tends to disregard social and economic dynamics that drive migratory flows and patterns. America’s immigration policy seems to be set in some aspirational abstract, focused on the type of country we want to be, but detached from real-world considerations.</p>
                <p>Such was the case in 1965 when Congress enacted landmark reforms to our immigration law. While the immigration act had the noble goals of eliminating racism and prejudice from the U.S. immigration system; it was enacted without a clear understanding of how and why people migrate to the U.S. from particular countries, or how the anticipated congressional action might affect those patterns.</p>
                <p>And so, one unintended consequence of the well-intentioned 1965 immigration reform was an unprecedented rise in illegal migration. This is turn set in motion a cycle of border enforcement that produced more, rather than fewer, undocumented migrants living north of the border—not to mention the toxic politics around the issue.</p>
                <p>The goal of the legislation was to right wrongs – including the bans on Asian and African immigration imposed in the late 19th and early 20th centuries, and the restrictive quotas enacted in the 1920s to curtail the entry of southern and eastern Europeans.</p>
                <p>So Congress created a new unbiased system that would allocate visas equally across countries with an annual limit of 20,000 visas per country.</p>
                <p>You don’t need to look at a map (but it does help) to appreciate the problem with treating countries similarly (and thus presumably “fairly”). Mexico is next door; Bangladesh is not. There was already a well-established migratory flow between Mexico and the United States. Moreover, these unrealistic caps on legal Mexican migration were being imposed just as the two economies were becoming increasingly interconnected.</p>
                <p>In theory, when the new approach created a “fair” system in which each nation had the same level of access to the same number of U.S. visas each year. In practice, however, the new system gave people in smaller nations much greater access to the U.S. than large nations. Both South Korea and India had an annual allotment of 20,000 visas, but the former had 28.4 million habitants in 1965 compared to the latter’s half billion, which made it much easier for Koreans to obtain permanent residence visas.</p>
                <p>Nonetheless, since we were moving from an outright ban on entry from Asian nations, the net effect of the 1965 Act was to increase the presence of Asians among arriving immigrants. In the 1960s, Asians comprised only 11% of immigrants—today the share is almost 40%. To a lesser extent, the reforms also opened to the door to immigrants from Africa and the Middle East.</p>
                <p>The restrictive aspects of the new system fell primarily on nations in the Western Hemisphere, where no numerical limits on legal immigration had existed prior to 1968. When opportunities for legal entry closed up, the previous flows of immigrants were quickly re-established under unauthorized auspices. As a result, apprehensions along the border began to rise, signaling the rise of a new phenomenon known as “illegal migration.”</p>
                <p>The result was a progressive militarization of our southern border. Although little had changed in practical terms in the years after 1965—the same migrants were leaving the same communities to go to the same employers in the same U.S. states in about the same numbers—now the migrants were “illegal” and hence by definition “law breakers” and “criminals.”</p>
                <p>In public discourse the “illegal invasion” became linked to the perceived national security of the day: to communist infiltration in the 1980s, drugs in the 1990s, al Qaeda and ISIS in the 2000s, even Ebola this decade. In the American imagination, the Mexico-U.S. border came to be seen symbolically as the defensive line separating America from a hostile world.</p>
                <p>From 1980 to 2010, the Border Patrol budget rose 16 times, despite the fact that the number of attempted undocumented entries was not itself rising. Faced with the significant risks of crossing the border, after first entering the U.S., Mexicans hunkered down to stay, dramatically reducing the rate of out-migration while leaving the rate of in-migration largely unaffected. As migrant workers spent more time north of the border, their spouses and children increasingly migrated to the U.S. to join them.</p>
                <p>In short, shifts in U.S. immigration policies transformed a circular flow of male workers from Mexico going to a few states into a settled population of families living in 50 states, including 11 million undocumented people.</p>
                <p>This all resulted from immigration policymaking rooted not in geographic, demographic, or economic considerations, but in America’s deeper hopes and aspirations—and its fears and insecurities.</p>
                <p><em>Douglas S. Massey is the Henry G. Bryant professor of sociology and public affairs at Princeton University and co-director of the Mexican Migration Project, with Jorge Durand of the University of Guadalajara. He wrote this for What It Means to Be American, a national conversation hosted by the Smithsonian and Zócalo Public Square.</em></p>
            </article>
        </div>
    </div>
</div>