@model SPA.Web.Models.Pages.StartPage

<div class="App" ng-app="newsfeed" ng-controller="NewsFeedController">
    <div class="List" data-ui="list">
        <ul>
            <li data-article="{{$index}}" data-status="{{isSelected($index)}}" ng-repeat="article in articles" ng-click="selectArticle($index)">
                <div class="image"><img data-ui="image" ng-src="{{article.thumbnail.path}}" alt=""></div>
                <div class="teaser">
                    <h3>{{article.headline}}</h3>
                    <p class="datetime">{{article.dateTime | date:'MM/dd/yyyy @@ h:mma'}}</p>
                </div>
                <div class="progress" style="height:{{getReadPercent()}}%"><span class="bar"></span></div>
        </ul>
    </div>
    <div class="Reader" data-ui="reader">
        <div class="Articles">
            <article data-article="{{$index}}" ng-repeat="article in articles" class="Article">
                <h1>{{article.headline}}</h1>
                <p class="author">{{article.author}}
                <p class="datatime">{{article.dateTime | date:'MM/dd/yyyy @@ h:mma'}}</p>
                <div class="image"><img ng-src="{{article.image.path}}" alt=""></div>
                <div ng-bind-html="article.mainBody"></div>
            </article>
        </div>
    </div>
</div>